
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reload</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form asp-action="Reload1" method="post">
        <button class="mainButton square">koop 2 kogels voor €1</button>
    </form>
    <form asp-action="Reload2" method="post">
        <button class="mainButton square">koop 7 kogels voor €4</button>
    </form>
    <form asp-action="Reload3" method="post">
        <button class="mainButton square">koop 12 kogels voor €7</button>
    </form>
</body>
</html>
