@model tutorial.Models.GeustResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>

</head>
<body>
    <p>Thanks, @Model.Name</p>

    <p><a asp-action="ListResponses"/>click here</a></p>
</body>
</html>
